@page "/devPage"
@model GlutSvrWeb.Pages.Shared.DevPage
@{
    ViewData["Title"] = "ProjectFilter";
    Layout = "_tempLayout";
}

<div class="row">
    <div class="col-md-6">
        <partial name="_runAttributeBox" model="null" />
    </div>
    <!-- /.col (LEFT) -->
    <div class="col-md-6">
    </div>
    <!-- /.col (RIGHT) -->
</div>




@section Scripts
{
    <script>
        function getVerificationToken() {
            
            var token = $('input[name="__RequestVerificationToken"]').val();
            return token;
        }

        
        function onRunAttributeBox(project, run)
        {
            var url = ['/dashboard/runAttributeBox', project, run].join('/');

            var formData = { __RequestVerificationToken: getVerificationToken() };

            const template = ({ key, value}) => `
                <tr>
                    <td>${key}</td> 
                    <td>${value}</td> 
                </tr>`;
            
            $.post(url, formData, function (data)
            {
                onApplyTemplate($('#runAttributeBox'), template, data);
            }, "json");
        }


        function onApplyTemplate(destination, template, data)
        {
            destination.html(data.map(template).join(''));
        }

        $(function ()
        {
            var p = "glut"; var r = 1;

            onRunAttributeBox(p, r);
        });

    </script>
}