@page "/devPage"
@model GlutSvrWeb.Pages.Shared.DevPage
@{
    ViewData["Title"] = "ProjectFilter";
    Layout = "_tempLayout";
}

<div class="row">
    <div class="col-md-6">
        <partial name="_totalRequestPerRunLineBox" />
    </div>
    <!-- /.col (LEFT) -->
    <div class="col-md-6">
    </div>
    <!-- /.col (RIGHT) -->
</div>




@section Scripts
{
    <script>
        function getVerificationToken() {
            
            var token = $('input[name="__RequestVerificationToken"]').val();
            return token;
        }

        
        function totalRequestsPerRun(project)  {

             var options =
            {
                responsive: true,
                title:
                {
                    display: true,
                    text: '@AppResources.StatusCodes'
                },
                legend:
                {
                    position: 'top',
                 },
                ymin: 0,
                scales:
                {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Duration(s)'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Requests(s)'
                        }
                    }]
                },
                tooltips: {
                    intersect: false,
                    mode: 'index',
                    callbacks: {
                        label: function (tooltipItem, myData) {
                            var label = myData.datasets[tooltipItem.datasetIndex].label || '';
                            if (label) {
                                label += ': ';
                            }
                            label += parseFloat(tooltipItem.value).toFixed(2);
                            return label;
                        }
                    }
                },
                animation:
                {
                    animateScale: true,
                    animateRotate: true
                }
            };

            //-------------------------------------------------------------------------------- Chart1

            var dataPoints =
            {
                labels: [],
                datasets: [{
                    data: [],
                    label: 'Run-1',
                    borderColor: '@Services.StatusCodeHelper.TotalRequests',
                    fill: false,
					lineTension: 0
                }]
            };

            var ctx1 = $("#_totalRequestPerRunLineBox");
            var chart1 = new Chart(ctx1,
                {
                    type: 'line',
                    data: dataPoints,
                    options: options
                });

             var formData = { __RequestVerificationToken: getVerificationToken() };

              var url = ['/dashboard/totalRequestsPerRunLineBox', project].join('/');

           $.post(url, formData, function (data)
           {
               dataPoints.labels = data.labels;
               dataPoints.datasets[0].data = data.A.data;
               dataPoints.datasets[0].label = data.A.label;

                chart1.update();

            }, "json");
        }


        function onApplyTemplate(destination, template, data)
        {
            destination.html(data.map(template).join(''));
        }

        $(function ()
        {
            var p = "glut"; var r = 1;

            totalRequestsPerRun(p);
        });

    </script>
}