@page "/projectFilter"
@model GlutSvrWeb.Pages.Shared.ProjectFilterModel
@{
    ViewData["Title"] = "ProjectFilter";
    Layout = "_dashboardLayout";
}

@await Html.PartialAsync("_projectFilter")

@section Scripts
{
    <script>

        $(function ()
        {
            $.post("/project/projectNames", null, function (data, textStatus)
            {
                $("#projects").empty();
                $("#runs").empty();

                $.each(data, function ()
                {
                    $("#projects").append($("<option></option>").val(this).html(this));
                });
                
                $("#projects").trigger("change");

            }, "json");

            $("#projects").change(function ()
            {
                onFetchRuns();
            });

            function onFetchRuns()
            {
                $("#runs").empty();

                $.post('@Url.Action("runIds", "project")' + '/' + $("#projects").val(), function (data, textStatus)
                {
                    $.each(data, function ()
                    {
                        $("#runs").append($("<option></option>").val(this).html(this));
                    });
                }, "json");
            }
        });

    </script>
}