@inject IDataStoreSvr DataStore

<div>
    @*<InputSelect bind-Value="@projects" T="IEnumerable<string>"/>*@
</div>

@functions
{
    [CascadingParameter] private IEnumerable<string> projects { get; set; }

    protected override async Task OnInitAsync()
    {
        projects = await DataStore.GetProjectString();
    }
}
