
@inject IDataStoreSvr DataStore;
<!-- ./wrapper -->
<!-- jQuery 3 -->
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/jqueryui/jquery-ui.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script type="text/javascript" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<!-- SlimScroll -->
<script src="~/lib/jquery-slimscroll/jquery.slimscroll.min.js"></script>

<!-- FastClick -->
<script src="~/lib/fastclick/fastclick.min.js"></script>
<!-- AdminLTE App -->
<script src="~/lib/admin-lte/js/adminlte.min.js"></script>

<!-- ChartJS -->
<script src="~/lib/chart.js/Chart.min.js"></script>
<script src="~/lib/moment.js/moment.min.js"></script>
<script src="~/lib/numeral.js/numeral.min.js"></script>

<script>
    $(document).ready(function () {
        $('.sidebar-menu').tree()
    })

function onFetchProjects() {
    $.post('@Url.Action("projectNames", "project")', null, function (data) {
        $("#projects").empty();
        $("#runs").empty();

        $.each(data, function () {
            $("#projects").append($("<option></option>").val(this).html(this));
        });
        $("#projects").val('@DataStore.GetLastProject().ProjectName');
        $("#projects").trigger("change");

    }, "json");
}

function onFetchRuns() {
    $("#runs").empty();

    $.post('@Url.Action("runIds", "project")' + '/' + $("#projects").val(), function (data) {
        $.each(data, function () {
            $("#runs").append($("<option></option>").val(this).html(this));
        });
        $("#runs").trigger("change");
    }, "json");
}
</script>