<div class="box-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="projects">@AppResources.Projects</label>
                <select id="projects" class="form-control select2" style="width: 100%;"></select>
            </div>
            <div class="form-group">
                <label for="runs">@AppResources.Runs</label>
                <select id="runs" class="form-control select2" style="width: 100%;"></select>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
