<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">@AppResources.TotalRequestPerRun</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="chart-responsive">
                    <canvas id="_totalRequestPerRunLineChartBox" aria-label="@AppResources.TotalRequestPerRun" role="img">
                        @AppResources.TotalRequestPerRun
                    </canvas>
                </div>
                <!-- ./chart-responsive -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
